
.ASSUME_THE_POSITION {
	background:url('../img/achievements/ASSUME_THE_POSITION.png') no-repeat;
}
.CRY_ME_A_RIVER {
	background:url('../img/achievements/CRY_ME_A_RIVER.png') no-repeat;
}
.DONT_HATE_THE_PLAYA {
	background:url('../img/achievements/DONT_HATE_THE_PLAYA.png') no-repeat;
}
.FLOPTIMAL_PLAY {
	background:url('../img/achievements/FLOPTIMAL_PLAY.png') no-repeat;
}
.KNOW_YOUR_ENEMY {
	background:url('../img/achievements/KNOW_YOUR_ENEMY.png') no-repeat;
}
.MAKE_IT_RAIN {
	background:url('../img/achievements/MAKE_IT_RAIN.png') no-repeat;
}
.POP_YA_CHERRY {
	background:url('../img/achievements/POP_YA_CHERRY.png') no-repeat;
}
.PUSH_THE_BUTTON {
	background:url('../img/achievements/PUSH_THE_BUTTON.png') no-repeat;
}
.RAISY_DAISY {
	background:url('../img/achievements/RAISY_DAISY.png') no-repeat;
}
.SUITED_AND_BOOTED {
	background:url('../img/achievements/SUITED_AND_BOOTED.png') no-repeat;
}
.TAKING_OUT_THE_TRASH {
	background:url('../img/achievements/TAKING_OUT_THE_TRASH.png') no-repeat;
}
.TO_BE_CONTINUED {
	background:url('../img/achievements/TO_BE_CONTINUED.png') no-repeat;
}
.WELCOME_TO_VALUETOWN {
	background:url('../img/achievements/WELCOME_TO_VALUETOWN.png') no-repeat;
}

/*

.ASSUME_THE_POSITION,
.CRY_ME_A_RIVER,
.DONT_HATE_THE_PLAYA,
.FLOPTIMAL_PLAY,
.KNOW_YOUR_ENEMY,
.MAKE_IT_RAIN,
.POP_YA_CHERRY,
.PUSH_THE_BUTTON,
.RAISY_DAISY,
.SUITED_AND_BOOTED,
.TAKING_OUT_THE_TRASH,
.TO_BE_CONTINUED,
.WELCOME_TO_VALUETOWN {
	background:url('../img/achievements/achievements.png') no-repeat;
}

*/